.container {
  width: 90%;
  margin: 2rem auto;
}

.home-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 2rem;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.cart-container {
  position: sticky;
  top: 30px;
}

/* ============= Responsive =================*/
@media (max-width: 992px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .books-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
